#status_info {
	position: absolute;
	font-size: 70%;
	width: 100%;
	top: 12%
}
.status_title {
	position: absolute;
	font-size: 140%;
	text-align: center;
	width: 50%;
	left: 25%;
}
.status_content {
	position: absolute;
	padding-top: 30px;
    width: 100%;
}
.status_line {
	margin-bottom: 10px;
}
.status_vertical_align {
    position: absolute;
    padding-top: 2px;
    left: 4%;
}

#resume_table{
	position: absolute;
	top: 40%;
	width: 100%;
}
#resume_table td{
	padding: .5%;
}
#resume_table .title{
	font-size: 110%;
	text-align: center; 
}
#resume_table .header{
	font-size: 90%;
}
#resume_table .normal{
	font-size: 80%;
}
#resume_table .indent{
	width: 2%;
}
#resume_table .left{
	height: 4%;
	width: 10%;
	vertical-align: text-top;
}
#resume_table .right{
	width: 85%;
}
#resume_table .spacer{
	height: 3%;
}



